{% extends 'base.html.twig' %}

{% block title %}Administration des articles{% endblock %}

{% block body %}
  <h1>Hourra</h1>
  <p>Votre article a bien été publié !!</p>
  <button class="return_portail"><a href="{{path ('portail')}}">Retour au portail d'administration</a></button>
{% endblock %}
